@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
<<<<<<< HEAD
  background-color: #f8e9da;
=======
  /* background-color: rgb(24, 25, 26);
  color: white; */
>>>>>>> 9482804e0be3fb3ca88b937879795109b02bcdab
}
